/*
 * SPDX-License-Identifier: Apache-2.0
 */

'use strict';

const {{contractName}} = require('./lib/my-contract');

module.exports.{{contractName}} = {{contractName}};
module.exports.contracts = [ {{contractName}} ];
